.listProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .nosProduits{
    background-color: #071226;
    color: white;
    position: relative;
    text-align: center;
    top: 70px;
    font-size: 1.2em;
    padding: 10px;
    span {
      color:lightskyblue;
    }
    .faHandButton {
        .fa-hand-o-down {
          cursor: pointer;
          animation-duration: .8s;
          animation-name: clignoter;
          animation-iteration-count: infinite;
          transition: none;
        }
        @keyframes clignoter {
          0%   { opacity:1; }
          40%   {opacity:0; }
          100% { opacity:1; }
        }
      }
    }
 .product-grid {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      top: 100px;
      .product-pane {
        display: flex;
        transition: transform 0.3s ease-in-out;
        position: relative;
        cursor: pointer;
        margin: 30px;
        background-color:#FAFAFA;
        &:hover {
          transform: scale(1.03);
        }
        .product-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px;
            p {
              text-align: center;
            }
          }
          .product-image {
            width:200px;
            height:300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .listProducts{
      .nosProduits {
      font-size: 1em;
    }
  }
}
