<mat-spinner *ngIf="loading"></mat-spinner>
<app-home></app-home>
<div class="listProducts">
     <p class="nosProduits col-12">
      <span>Ils disent: </span>souffrir pour être belle. <br/> <span>Nous disons: </span>se faire plaisir pour rester belle.
      <br>
      <a class="faHandButton" (click)="scrollToElement(product)" title="clicker pour voir nos produits"><em class="fa fa-hand-o-down"></em></a>
     </p>
     <div #product></div>
    <div class="product-grid" *ngIf="productTab.length >= 0">
      <div class="product-pane col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12"
          *ngFor="let product of productTab"
          [ngClass]="{'open': product._id === chosenId}"
          (click)="onProductClicked(product._id)">
        <div *ngIf="this.checkFileExt(product.imageUrl)" class="product-info">
          <div>
            <img  class="product-image" src="{{product.imageUrl}}" alt="{{product.imageUrl}}"/>
          </div>
          <div class="info">
            <h3>
              {{ product.title }}
            </h3>
            <p>
              {{ product.description }}
            </p>
            <h5>{{ this.getPrice(product.price / 100) }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

