<div class="main-container">
  <app-header></app-header>
</div>
<div>
  <app-side-nav
    [sideNavTemplateRef]="navContent"
    [direction]="'left'"
    [navWidth]="280"
    [duration]="0.5">
  </app-side-nav>
</div>
<ng-template #navContent>
 <a [routerLink]="home">SLink 1</a>
</ng-template>
<router-outlet></router-outlet>

