video {
  display: flex;
  width:100%;
  height:100%;
  max-height: 650px;
  min-height: 800px;
  position: relative;
  top: 135px;
}
.new-thing{
  display:flex;
  justify-content:center;
  transition: all 0.3s ease-in-out;
  cursor:pointer;
    &:hover {
      transform: scale(1.05);
   }
}
.container-fluid {
  position: relative;
  bottom: 400px;
  z-index: 1;
}
.container-fluid{
  color: white;
  height: 20px;
  h3, h6 {
    border: 1px white solid;
    padding: 5px;
  }
}
