  <div class="homeVideo">
    <video [muted]="true" autoplay playsinline loop style="object-fit: cover; object-position: center center;">
      <source class="embed-responsive-item" src="assets/videos/tissage-bresilien-kinky-curl-frise-mnh.mp4">
      <track label="English" kind="captions" srclang="en" src="">
    </video>
  </div>
  <div *ngIf="this.connectedUser" class="container-fluid">
    <div class="row">
      <div class="col-12 new-thing" (click)="onNavigate(this.newProductUrl)">
        <h3>new extension</h3>
      </div>
      <div class="col-12 new-thing">
        <h6>background video</h6>
      </div>
    </div>
  </div>


