<div class="sign-nav-bar">
  <div class="sign-nav-bar-menu-container">
    <div class="sign-nav-bar-content-container">
      <ng-container *ngTemplateOutlet="signNavTemplateRef"></ng-container>
    </div>
  </div>
</div>
