<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="single-product m-1">
  <div class="single-product-pane">
    <img [src]="extension?.imageUrl" alt="">
    <div class="single-product-info">
      <h1>{{ extension?.title }}</h1>
      <h2 class="single-product-price">{{ extension?.price/ 100 | currency:'EUR' }}</h2>
      <p>{{ extension?.description }}</p>
      <div *ngIf="this.isNotNullAndNotEmpty(this.userId) && userId === extension.userId ">
        <button class="btn btn-success m-1" (click)="updateProduct()">Modifier</button>
        <button class="btn btn-danger m-1" (click)="deleteProduct()">Supprimer</button>
      </div>
    </div>
  </div>
</div>

