#Beautiful, .category, #menu, #close, .search, .shoppingCart, #sign-in, #sign-up, #dropDownSign, #disconnect{
    transition: all 0.3s ease-in-out;
    cursor:pointer;
      &:hover {
        transform: scale(1.10);
     }
}
#Beautiful{
  display: flex;
  justify-content:center;
  color: white;
  background: #071225;
}
.header-link {
  font-size: 2em;
  color: white;

}
ul {
  list-style: none;
}
.header_change{
  position: fixed;
  width:100%;
  z-index:3;
}

.topNavSign {
  display:flex;
  justify-content: flex-end;
}
 .categorySearchBackGrCol {

  background: white;
}

.justify-around {
  display: flex;
  justify-content:space-around;
}
.btn-color-light {
background:#E5E5E5;
margin: 10px;
}
.btn-trans {
  border-radius: 10px;
  box-shadow: 2px 2px 0px black;
  transition: all 0.3s ease-in-out;
  cursor:pointer;
    &:hover {
      transform: scale(1.10);
   }

}
sup{
  position: relative;
  left: 3px;
}
img {
  width:80px;
  height:80px;
}

.logoVideo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .logoVideo-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color:#FAFAFA;
    &:hover {
      transform: scale(1.03);
    }
    .logoVideo-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p, h3 {
          text-align: center;
          font-size: 0.8em;
        }
        h3{
          font-weight: bold;
        }

      }
  }
}
}
.charge {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}
@media screen and (max-width: 1024px)
{
    .header-link
    {
        font-size: 1.5em;
    }
    #top-bar {
        height: 50px;
        padding: 6px;
    }
    .navbar-toggler {
      height: 33px;
      padding: 0px;
      margin: 3px;
    }
    .btn-primary {
       height: 40px;
      font-size: 0.8em;
    }
    #login {
      font-size: 0.8em;
    }
    #disconnect, .sideButton{
      font-size: 0.7em;
    }
    .category, #connection{
    font-size: 0.7em;
    }
}







