<header [class.header_change]= "header_variable">
  <nav class="col navbar navbar-expand" id="Beautiful" aria-label="home logo">
    <a class="navbar-brand header-link" (click)="onNavigate(this.productsUrl)">
        <img src="{{this.logo}}" alt="logo"/>
      <sup *ngIf="this.connectedUser">
        <a class="btn" (click)="openContent(uploadLogo)" id="logo">upload a logo</a>
      </sup>
    </a>
  </nav>
  <ng-template #uploadLogo let-modal>
    <div class="modal-header container-fluid justify-around">
      <div class="row">
        <div class="col-12">dowload/update</div>
      </div>
    </div>
    <div class="modal-body">
        <div class="row justify-around">
          <div class="col-5 btn-color-light justify-around btn-trans" [ngStyle]="{background: changeBackGroundColor('upload')}" (click)="openTrue()">
            <p type="button" class="btn-color-light" [ngStyle]="{background: changeBackGroundColor('upload')}">
              <em class="fa fa-cloud-upload"></em>
              <span>upload</span>
            </p>
        </div>
        <div class=" col-5 btn-color-light justify-around btn-trans" [ngStyle]="{background: changeBackGroundColor('update')}" (click)="openFalse()">
          <p type="button" class="btn-color-light" [ngStyle]="{background: changeBackGroundColor('update')}">
            <em class="fa fa-cloud-upload"></em>
            <span>update</span>
          </p>
        </div>
          <div *ngIf="this.changeBackgroundColor" class="col-12">
            <form [formGroup]="logoForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" placeholder="titre du logo" id="title" formControlName="title" class="form-control">
              </div>
                <input type="file" id="image" (change)="onImagePick($event)">
              <div class="form-group">
                <label for="description">description</label>
                <input type="text" placeholder="description" id="description" formControlName="description" class="form-control">
              </div>
              <div>
                <input type="checkbox" id="update">
                <label for="update">Mettre à jour</label>
              </div>
              <button class="btn btn-success" type="submit" [disabled]="logoForm.invalid">valider</button>
              <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
            </form>
          </div>
          <div *ngIf="!this.changeBackgroundColor" class="col-12">
            <form [formGroup]="logoForm" (ngSubmit)="updateLogo()">
              <div class="logoVideo-grid" *ngIf="logoVideoTab.length >= 0">
                <div class="logoVideo-pane col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12"
                    *ngFor="let logoVideo of logoVideoTab"
                    [ngClass]="{'open': logoVideo._id === chosenId}"
                    (click)="onSelectCheckboxLogo(logoVideo._id,logoVideo.imageUrl)">
                  <div *ngIf="this.checkFileExt(logoVideo.imageUrl)" class="logoVideo-info">
                    <div>
                      <input class="checkbox" type="checkbox" id="{{ logoVideo._id }}">
                      <img class="logoVideo-image" src="{{ logoVideo.imageUrl }}" alt="{{ logoVideo.imageUrl }}"/>
                    </div>
                    <div class="info">
                      <h3>{{ logoVideo.title }}</h3>
                      <p> {{ logoVideo.description }} </p>
                  </div>
                </div>
              </div>
          </div>
          <div class="charge">
            <button class="btn btn-success" type="submit" [disabled]="!this.isLogoChecked"> charge </button>
          </div>
            </form>
          </div>
        </div>
    </div>
  </ng-template>
    <!--container-->
  <nav class="navbar navbar-light bg-light" aria-label="open close">
    <div class="navbarToggler col-6 col-sm-6 col-md-4 col-lg-4 ">
      <button class="navbar-toggler sideButton" id="menu" (click)="toggleSideNav()" type="button" *ngIf="!this.isButtonVisible" >
        <span   class="navbar-toggler-icon"></span>
        menu
      </button>
      <button class="navbar-toggler side-nav-bar-close sideButton" id="close" (click)="onSidebarClose()" type="button" *ngIf="this.isButtonVisible" >
        <span class="navbar-toggler-icon"></span>
        close
      </button>
    </div>

    <div *ngIf="this.screenWidthCode !== 'sm' && this.screenWidthCode !== 'vsm'" class="categorySearch col-4">
      <div class="input-group" #categorySearch="ngbDropdown" ngbDropdown>
        <div class="input-group-append"  role="group" >
          <button (click)="$event.stopPropagation(); categorySearch.open();" class="btn btn-secondary category" >category</button>
        </div>
        <input type="text" class="form-control" >
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item">brésiliènne</button>
          <button class="dropdown-item">Two</button>
        </div>
            <span class="input-group-append">
          <button class="btn btn-outline-secondary search" type="button">
              <em class="fa fa-search"></em>
          </button>
            </span>
          </div>
    </div>

    <div class="topNavSign col-6 col-sm-6 col-md-4 col-lg-4 ">
      <!--begin test modal-->
      <div *ngIf="this.isNullOrEmpty(this.token)">
        <button type="button" class="btn btn-light" (click)="openContent(connectionForm)" id="connection">
          <em class="fa fa-user"></em>
          connection</button>
      </div>
      <ng-template #connectionForm let-modal>
        <div class="modal-header container-fluid justify-around">
          <div class="row">
            <div class="col-12">Connection</div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row justify-around">
            <div class="col-5 btn-color-light justify-around btn-trans" [ngStyle]="{background: changeBackGroundColor('login')}" (click)="openTrue()">
                <p type="button" class="btn-color-light" [ngStyle]="{background: changeBackGroundColor('login')}">
                  <em class="fa fa-user"></em>
                  <span>login</span>
                </p>
            </div>
              <div class=" col-5 btn-color-light justify-around btn-trans" [ngStyle]="{background: changeBackGroundColor('register')}" (click)="openFalse()">
                <p type="button" class="btn-color-light" [ngStyle]="{background: changeBackGroundColor('register')}">
                  <em class="fa fa-user-plus"></em>
                  <span>register</span>
                </p>
              </div>
          </div>
          <div *ngIf="this.changeBackgroundColor" class="col-12">
            <form [formGroup]="signInForm">
               <div class="form-group">
                <label for="emailLogin">Email address</label>
                <input type="email" id="emailLogin" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="passwordLogin">Password</label>
                <input type="password" id="passwordLogin" formControlName="password" class="form-control">
              </div>
              <button class="btn btn-success"  [disabled]="signInForm.invalid" (click)="onSignIn()">Login</button>
            </form>
            <p>{{ errorMessage }}</p>
          </div>
          <div *ngIf="!this.changeBackgroundColor" class="col-12">
            <form [formGroup]="signupForm">
              <div class="form-group">
                <label for="name">name</label>
                <input type="text" id="name" formControlName="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" formControlName="firstName" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
              </div>
              <button class="btn btn-success" [disabled]="signupForm.invalid" (click)="onSignup()">register</button>
            </form>
            <p>{{ errorMessage }}</p>
          </div>
        </div>
        <div class="modal-footer"></div>
      </ng-template>
      <!--end test modal-->


      <div *ngIf="this.isNotNullAndNotEmpty(this.token)">
       <button type="button" class="btn btn-light" (click)="onLogout()" id="disconnect">disconnect</button>
      </div>
      <div class="shoppingCart">
        <button class="btn btn-danger btn-dark">
          <span class="fa fa-shopping-cart"><sup>0</sup></span>
        </button>
      </div>
    </div>
    <div *ngIf="this.screenWidthCode === 'sm' || this.screenWidthCode === 'vsm'" class="categorySearch col-12" >
      <div class="input-group categorySearchBackGrCol" #categorySearch="ngbDropdown" ngbDropdown>
        <div class="input-group-append"  role="group" >
          <button (click)="$event.stopPropagation(); categorySearch.open();" class="btn btn-secondary category" >category</button>
        </div>
        <input type="text" class="form-control" >
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item">One</button>
          <button class="dropdown-item">Two</button>
         </div>
        <span class="input-group-append">
          <button class="btn btn-outline-secondary search" type="button">
            <em class="fa fa-search"></em>
          </button>
        </span>
      </div>
    </div>
  </nav> <!--container-->

</header>

