.addProduct{
  top: 140px;
}
.matS{
  top: 120px;
}

input[type="file"] {
  visibility: hidden;
}
.image-preview {
  img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px)
{
  .addProduct{
    top: 160px;
  }
}
