.side-nav-bar {
    display:flex;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;

    .side-nav-bar-overlay {
        background: rgba(1,1,0,0.5);
        width: 100%;
        height: 100%;
    }

    .side-nav-bar-menu-container {
        position: absolute;
        top: 0;
        bottom: 0;
        background: #071225;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .side-nav-bar-content-container {
        margin-top: 10%;
        padding: 40%;
    }
}
.side-nav-bar-overlay-collapsed {
    background: transparent !important;
}

.side-nav-bar-collapsed {
    visibility: collapse !important;
}
